<ion-header>

  <ion-navbar no-border-bottom color="primary">
    <ion-title>Qpi-Item Setting</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
        <ion-icon name="warning"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-fab top right edge>
    <button ion-fab color="danger" (click)="createProduct()" *ngIf="internetConnected">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="loading">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>

  <ion-list *ngIf="!loading">
    <forum-product *ngFor="let product of products" [product]="product" (onModifyProducts)="modifyProduct($event)"></forum-product>
  </ion-list>

 </ion-content>