<!--<ion-header>
    <ion-navbar hideBackButton color="primary">
        <ion-title>Logingggg</ion-title>
    </ion-navbar>
</ion-header> !-->
<ion-content padding>
    
     <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67 > 
            <br>
           <h2 align="center" color="primary"> WINTECHES</h2>
      <img   align="center" src="assets/images/winteches.png"/>
       <h1 align="center" > Sign in </h1>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

     <form [formGroup]="loginFirebaseAccountForm" (ngSubmit)="onSubmit(loginFirebaseAccountForm.value)">

        <!--<ion-card padding>
            <ion-card-content>
                <ion-card-title color="primary" align="center">
                    WINTECHES
                </ion-card-title>
            </ion-card-content>
            <img src="assets/images/winteches.png" />
        </ion-card> !-->
        <ion-item [class.error]="!email.valid && email.touched">
            <ion-label floating>Email address</ion-label>
            <ion-input type="text" value="" [formControl]="email"></ion-input>
        </ion-item>
        <div *ngIf="email.hasError('required') && email.touched" class="error-box">* Email is required.</div>
        <div *ngIf="email.hasError('pattern') && email.touched" class="error-box">* Enter a valid email address.</div>
        <ion-item [class.error]="!password.valid && password.touched">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" value="" [formControl]="password"></ion-input>
        </ion-item>
        <div *ngIf="password.hasError('required') && password.touched" class="error-box">* Password is required.</div>
        <div *ngIf="password.hasError('minlength') && password.touched" class="error-box">* Minimum password length is 5.</div>
        <br/><br/>
      <div style="text-align:center"> 
                        <button ion-button align="center" type="submit" class="button1" [disabled]="!loginFirebaseAccountForm.valid" block> Sign in </button>
                        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div style="text-align:center"> 
        <button ion-button clear align="center" (click)="register()">
            <ion-icon name='flame'></ion-icon>
            create account</button> 
          </div>
          <!--  <ion-fab bottom right edge>
    <button ion-fab color="secondary" (click)="register()" >
      <ion-icon name="add">SignUp</ion-icon>
    </button>
  </ion-fab> !-->
        
    </form>
</ion-content> 


