<ion-header>
    <ion-navbar color="primary">
        <ion-title>Add New Organisation</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancelNewOrg()">
        <ion-icon name="arrow-back"></ion-icon> Cancel
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="createOrgForm" (ngSubmit)="onSubmit(createOrgForm.value)">
        <ion-item [class.error]="!name.valid && name.touched">
            <ion-label floating>Organisation Name</ion-label>
            <ion-input type="text" value="" [formControl]="name"></ion-input>
        </ion-item>
        <div *ngIf="name.hasError('required') && name.touched" class="error-box">* Organisation Name is required.</div>
        <div *ngIf="name.hasError('minlength') && name.touched" class="error-box">* Minimum Name length is 8.</div>

        <ion-item [class.error]="!address.valid && address.touched">
            <ion-label floating>Address</ion-label>
            <ion-textarea [formControl]="address" rows="6"></ion-textarea>
        </ion-item>
        <div *ngIf="address.hasError('required') && address.touched" class="error-box">* Address is required.</div>
        <div *ngIf="address.hasError('minlength') && address.touched" class="error-box">* Type at least 100 characters.</div>

        <ion-item [class.error]="!email.valid && email.touched">
            <ion-label floating>Email address</ion-label>
            <ion-input type="text" value="" [formControl]="email"></ion-input>
        </ion-item>
        <div *ngIf="email.hasError('required') && email.touched" class="error-box">* Email is required.</div>
        <div *ngIf="email.hasError('isValid') && email.touched" class="error-box">* Enter a valid email address.</div>

        <br/><br/>
        <button ion-button type="submit" class="custom-button" [disabled]="!createOrgForm.valid" block>Submit</button>
    </form>
</ion-content>