<ion-header>

  <ion-navbar no-border-bottom color="primary">
    <ion-title>Quotation</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
        <ion-icon name="warning"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button *ngIf="internetConnected" (click)="viewCart()" icon-only>
        <ion-icon name="cart"></ion-icon>
		
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-searchbar (ionInput)="onSearchInput($event)" (ionCancel)="onCancel()"></ion-searchbar>
 
	<button ion-button  small icon-left item-left>
		<ion-icon name='funnel'></ion-icon>
		  Filter
	</button>
	<button ion-button  small icon-right item-right color="danger">
		<ion-icon name='trash'></ion-icon>
		  Clear All
	</button>
  	<div *ngIf="loading">
    	<img src="assets/images/ring.gif" style="display:block; margin:auto" />
  	</div>

  	<ion-list *ngIf="!loading">
    	<forum-list *ngFor="let product of products" [product]="product" (onAddProducts)="addProduct($event)"></forum-list>
  	</ion-list>

 </ion-content>