<ion-item text-wrap>
    <ion-card>

        <ion-item class="logo">
        <forum-org-avatar [org]="org"></forum-org-avatar>
        </ion-item>

        <ion-card-content text-center>
            <ion-card-title>
                {{org.orgName}}
            </ion-card-title>
            <button ion-button icon-left item-right clear small color="secondary" (click)="logoOrg(org.key)">
                <ion-icon name="images"></ion-icon>
                Upload Logo
            </button>
        </ion-card-content>

        <ion-row class="left-border-primary">
            <ion-col>
                <ion-buttons start>
                    <button ion-button icon-right small color="royal" (click)="modifyOrg(org.key)">
                        Modify
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col text-center>
                <ion-buttons end>
                    <button ion-button icon-right small color="danger" (click)="deleteOrg(org.key)">
                        Delete
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        
    </ion-card>
</ion-item>