
<ion-header>

  <ion-navbar no-border-bottom color="primary">
    <ion-title>Quotation Cart</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
        <ion-icon name="warning"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-item *ngIf="products.length" >
        <h2 color="secondary">TOTAL AMOUNT: </h2>        
        <h2 color="secondary" item-right >${{getGrandTotal()}}</h2>
    </ion-item>

       <ion-item *ngIf="!products.length" >
        <h2  color= "secondary" class="center">Cart is empty</h2>  

    </ion-item>
   
  	<div *ngIf="loading">
        	<img src="assets/images/ring.gif" style="display:block; margin:auto" />
        	</div>

  	<ion-list *ngIf="!loading">
  <!--         <ion-item *ngFor="let  product of products" [product]="product" > </ion-item>
  !-->

   <forum-quotation *ngFor="let product of products" [product]="product" (onDeleteProducts)="deleteProduct($event)"></forum-quotation>
       
  	</ion-list>

     <ion-fab  bottom right>
    <button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="shareEmail()" > <ion-icon name="mail"></ion-icon>  
      </button>
      <button ion-fab color="danger" (click)="otherShare()" ><ion-icon name="md-share"></ion-icon></button>
      <button ion-fab color="light"  (click)="DownloadPdf()"><ion-icon name="download"></ion-icon></button>
      <button ion-fab color="secondary" (click)="onCreateInvoice()" ><ion-icon name="eye"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>  


 </ion-content>

  
<!--<ion-footer >
  	<ion-toolbar color="primary">
     <ion-buttons  >
      <button ion-button icon-left (click)="otherShare()">
            share
            <ion-icon name="share"></ion-icon>
          </button>
  		</ion-buttons>
      <ion-buttons  end>
          <button ion-button >
            Download
            <ion-icon name="download"></ion-icon>
          </button>
          
      </ion-buttons>
    	<ion-buttons end>
      		<button ion-button icon-right (click)="shareEmail()">
        		Send
        		<ion-icon name="mail"></ion-icon>
      		</button>
          
    	</ion-buttons>
  	</ion-toolbar>
</ion-footer> !-->






